body {
  
  color: hsl(233, 13%, 49%);
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 28px;
}

.header {
width: 100%;
/* background-color: blueviolet; */
padding-top: 71px;
padding-bottom: 64px;
}
.header__h1 {
font-size: 32px;
margin-bottom: 40px;
}

.toggle {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.toggle__span {
opacity: .5;
}
.toggle__label {

}
.toggle__input {

}


.plans-section {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan {
/* background-color: beige; */
padding: 31px;
display: flex;
flex-direction: column;
gap: 20px;
}

.plan--popular{

background: linear-gradient(to bottom right, hsl(236, 72%, 79%) 50%, hsl(237, 63%, 64%) 100%) ;
color: #fff;
padding-top: 55px;
padding-bottom: 55px;
border-radius: 10px;
}

.plan__heading {

}

.plan__price  {
color: hsl(232, 13%, 33%);
font-size: 72px;
line-height: 71px;
padding: 0 40px;
}

.plan__price--popular  {
  color: #fff;
  }

.plan__price--month {

}

.plan__price--year {
display: none;
}

.plan__separator {
  border-top: solid 1px hsl(232, 13%, 33%);
  opacity: .25;
}

.plan--popular .plan__separator {
  border-top: solid 1px #fff;
}


.plan__features {
display: flex;
flex-direction: column;
gap: 10px;
}
.plan__features__item {

}
.plan__button {
text-transform: uppercase;
color: #fff;
/* background-color: blue; */
background: linear-gradient(to bottom right, hsl(236, 72%, 79%) 50%, hsl(237, 63%, 64%) 100%) ;
padding: 14px;
border-radius: 6px;
line-height: 15.81px;
font-size: 13px;
letter-spacing: 1.39px;
}
.plan__button--popular {
  background: none;
  background-color: #fff;
  color: #000;
}

.footer {
  /* background-color: brown; */
}

.attribution {
  display: inline;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  display: inline;
  color: hsl(228, 45%, 44%);
}

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)

### Neutral

- Very Light Grayish Blue: hsl(240, 78%, 98%)
- Light Grayish Blue: hsl(234, 14%, 74%)
- Grayish Blue: hsl(233, 13%, 49%)
- Dark Grayish Blue: hsl(232, 13%, 33%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weight: 700